/*Body settings*/
*{
    margin: 0;
    padding: 0;
    background-color: hsl(30, 38%, 92%); 
    
}

/*Perfume container settings*/
.perfume-container{
   margin-top: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: stretch;
}

/*Perfume image settings*/
.img-perfume img{
    border-radius: 12px 0px 0px 12px;
    display: block;
    width: 100%;
    height: 550px;
    object-fit: cover
}

/*Description container, right side settings*/
.description-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    background-color: white;
    width: 300px;
    padding: 30px;
    border-radius: 0px 12px 12px 0px;
}

/*Little tilte settings*/
.main-title{
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 400;
    letter-spacing: 5px;
    background: none;
    color: rgb(160, 159, 159);
}

/*Main title settings*/
.header-title{
    font-family: 'Fraunces';
    font-size: 45px;
    font-weight: 700;
    background: none;
    width: 290px;
    line-height: 45px;
}

/*Perfume description settings*/
.perfume-description{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    color: rgb(160, 159, 159);
    background: none;
    width: 290px;
    line-height: 28px;
}

/*Perfume prices container settings*/
.price-container{
    display: flex;
    align-items: center;
    background: none;
}
/*Price with disacount settings*/
.price-whit-discount{
    font-family: 'Fraunces';
    font-size: 45px;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
    background: none;
}

/*Price without discount*/
.price-without-discount{
    font-family: 'Montserrat';
    background: none;
    font-weight: 500;
    font-size: 15px;
    margin-left: 25px;
    color: rgb(160, 159, 159);
}

/*Add to cart button to complete the purchase settings*/
.add-to-cart-button{
    display: inline-flex;
    justify-content: center;
    border: none;
    background: none;
    background-color: hsl(158, 36%, 37%);
    padding: 20px 20px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    border-radius: 12px;
    cursor: pointer;
    gap: 15px;
}

.add-to-cart-button img{
    background: none;
}

.add-to-cart-button:hover{
    background-color: hsl(158, 42%, 18%);
}

/*Media Querys mobile design*/
@media (max-width: 375px) {
  .perfume-container {
    flex-direction: column;
    margin: 15px;
  }

  .img-perfume img {
    border-radius: 12px 12px 0 0; 
    height: 100%;
    width: 100%;
  }

  .description-container {
    border-radius: 0 0 10px 10px;
    width: 285px;
  }
}